# Flutter/Dart 特定
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/

# IDE
.idea/
.vscode/
*.iml

# 平台特定
android/.gradle/
android/app/debug/
android/app/profile/
android/app/release/
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework/
ios/Flutter/Flutter.podspec

# 本地配置
.env
*.env.local

# 测试
coverage/

# 临时文件
*.log
*.tmp
.DS_Store
